<p id="notice"><%= notice %></p>

<h2>Dados da encomenda</h2>

<table>
  <thead>
    <th>Responsável</th>
    <th>Telefone</th>
    <th>Endereço de entrega</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @encomenda.responsavel %></td>
      <td><%= @encomenda.celular %></td>
      <td><%= @encomenda.endereco %></td>
    </tr>
  </tbody>
</table>



<h2>Adicionar pedido à encomenda <a id="whatsapp_link" href="whatsapp://send?text=<%= request.original_url %>">
  <%= image_tag "https://winaero.com/blog/wp-content/uploads/2016/05/whatsapp-logo-icon.png", size: '48x48' %>
</a></h2>



<p>
  Você pode compartilhar o link dessa página com amigos para que possam adicionar pedidos à mesma encomenda.
</p>

<%= form_tag do %>
<%= label_tag(:nome, "Nome:") %>
<%= text_field_tag(:nome) %>
<%= label_tag(:celular, "Celular:") %>
<%= text_field_tag(:celular) %>

<p>Especifique a quantidade de cada produto para esse pedido:</p>

<% for p in @encomenda.lote.produtos %>
  <br>
  <%= number_field(:produto, p.id, in: 0..p.quantidade, step: 1, value: 0) %>
  <%= label_tag(:produto, p.nome) %> -- <%= p.valor.to_s(:currency) %>
<% end %>

<br>
<%= submit_tag("Adicionar pedido") %><br>

<% end %>


<h2>Pedidos adicionados</h2>

<% if (@encomenda.pedidos.empty?) %>
  <p>Nenhum pedido cadastrado.</p>
<% else %>
  <table id="pedidos">
    <thead>
      <th>Nome</th>
      <th>Valor</th>
      <th>Produtos</th>
    </thead>
    <tbody>
      <% for p in @encomenda.pedidos %>
        <tr>
          <td><%= p.nome %></td>
          <td><%= p.total.to_s(:currency) %></td>
          <td>
            <ul style="list-style: none;">
            <% for pp in p.pedido_produtos %>
              <li style="display:inline;">
                <%= pp.quantidade %>x<%= pp.produto.nome %>; 
              </li>
            <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Frete</strong></td>
        <td><%= @encomenda.frete.to_s(:currency) %></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td><%= @encomenda.total.to_s(:currency) %></td>
        <td></td>
      </tr>

    </tbody>
  </table>


  <%= form_tag do %>
  <%= submit_tag("Finalizar e pagar") %><br>

  <% end %>

<% end %>

